.card-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: #ffffff;
	box-shadow: 0px 4px 6px var(--colors-shadow);
	border-radius: 4px;
}

.card-information {
	padding: 20px 40px 10px 40px;
	border-bottom: 1px solid var(--colors-light-gray);
}

.card-title {
	font-weight: 500;
	font-size: var(--texts-big);
	color: var(--colors-black);
}

.card-points-responsible {
	font-size: var(--texts-small);
	color: var(--colors-gray);
}

.card-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.card-footer > p {
	font-size: var(--texts-small);
	color: var(--colors-purple);
	text-align: center;
}

.card-footer > p:hover {
	cursor: pointer;
	color: var(--colors-light-purple);
	transition-duration: 0.2s;
}